@{
    ViewData["Title"] = "Home Page";
}

Date: @DateTime.Now

<form asp-action="TestAjaxForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#box">
    <label>Text to send to server</label>
    <input type="text" name="Text" />
    <input type="submit" value="Send" />
</form>
<div id="box">Original text</div>
<br />


Date: @DateTime.Now

<hr/>
<a asp-action="TexteAjaxLink"
    data-ajax="true" data-ajax-method="get"
    data-ajax-mode="replace" data-ajax-update="#target"
    data-ajax-loading="#wait">Click Me</a>

<div id="target"></div>
<div id="wait" style="display:none">
    <img src="~/Images/3ad825fa000c3a6c7037e981472d4b1a.gif" />
</div>

Date: @DateTime.Now